* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background: rgb(179, 234, 240);
}

.booklist{
  width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;

}
.book {
  background: white;
  padding: 1rem 2rem;
  border-radius: 0.6rem 2rem 2rem 0.1rem;
}
.book h2{
  padding: 0.5rem;
}
.book h4 {
color:rgb(32, 107, 82);
padding: 1rem;
}

.author {
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px cyan;
}

@media screen and (min-width: 768px) {
  .booklist {
      grid-template-columns: repeat(3, 1fr);
  }
}